
form {
    border: 1px solid lightgrey;
    padding-left: 10%;
    padding-bottom: 6.3%;
}
img {
    max-width: 100%;
} 

body {
    margin-left: 10%;
    margin-right: 10%;
    height:100%;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
} 

input {
    size: 100%;
}
#SignInButton {
    background-color: yellow;
} 

#CreateAccount {
    background-color: gray;
} 

@media screen and (min-width: 350px) {
    input {
        size: 10%;
    }
}

